In [2]:
import pandas as pd
from scipy import sparse
from sklearn.metrics.pairwise import cosine_similarity

In [3]:
ratings = pd.read_csv('../Dataset/data/ratings.csv')
print(ratings)

          userId  movieId  rating   timestamp
0              1      296     5.0  1147880044
1              1      306     3.5  1147868817
2              1      307     5.0  1147868828
3              1      665     5.0  1147878820
4              1      899     3.5  1147868510
...          ...      ...     ...         ...
25000090  162541    50872     4.5  1240953372
25000091  162541    55768     2.5  1240951998
25000092  162541    56176     2.0  1240950697
25000093  162541    58559     4.0  1240953434
25000094  162541    63876     5.0  1240952515

[25000095 rows x 4 columns]

In [4]:
movies = pd.read_csv('../Dataset/data/movies.csv')
print(movies)

       movieId                               title  \
0            1                    Toy Story (1995)
1            2                      Jumanji (1995)
2            3             Grumpier Old Men (1995)
3            4            Waiting to Exhale (1995)
4            5  Father of the Bride Part II (1995)
...        ...                                 ...
62418   209157                           We (2018)
62419   209159           Window of the Soul (2001)
62420   209163                    Bad Poems (2018)
62421   209169                 A Girl Thing (2001)
62422   209171      Women of Devil's Island (1962)

                                            genres
0      Adventure|Animation|Children|Comedy|Fantasy
1                       Adventure|Children|Fantasy
2                                   Comedy|Romance
3                             Comedy|Drama|Romance
4                                           Comedy
...                                            ...
62418                                        Drama
62419                                  Documentary
62420                                 Comedy|Drama
62421                           (no genres listed)
62422                       Action|Adventure|Drama

[62423 rows x 3 columns]

In [5]:

data = pd.merge(movies,ratings)
print(data)

          movieId                           title  \
0               1                Toy Story (1995)
1               1                Toy Story (1995)
2               1                Toy Story (1995)
3               1                Toy Story (1995)
4               1                Toy Story (1995)
...           ...                             ...
25000090   209157                       We (2018)
25000091   209159       Window of the Soul (2001)
25000092   209163                Bad Poems (2018)
25000093   209169             A Girl Thing (2001)
25000094   209171  Women of Devil's Island (1962)

                                               genres  userId  rating  \
0         Adventure|Animation|Children|Comedy|Fantasy       2     3.5
1         Adventure|Animation|Children|Comedy|Fantasy       3     4.0
2         Adventure|Animation|Children|Comedy|Fantasy       4     3.0
3         Adventure|Animation|Children|Comedy|Fantasy       5     4.0
4         Adventure|Animation|Children|Comedy|Fantasy       8     4.0
...                                               ...     ...     ...
25000090                                        Drama  119571     1.5
25000091                                  Documentary  115835     3.0
25000092                                 Comedy|Drama    6964     4.5
25000093                           (no genres listed)  119571     3.0
25000094                       Action|Adventure|Drama  119571     3.0

           timestamp
0         1141415820
1         1439472215
2         1573944252
3          858625949
4          890492517
...              ...
25000090  1574280748
25000091  1574280985
25000092  1574284913
25000093  1574291826
25000094  1574291937

[25000095 rows x 6 columns]

In [6]:
data

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,2,3.5,1141415820
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3,4.0,1439472215
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,4,3.0,1573944252
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,858625949
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8,4.0,890492517
...,...,...,...,...,...,...
25000090,209157,We (2018),Drama,119571,1.5,1574280748
25000091,209159,Window of the Soul (2001),Documentary,115835,3.0,1574280985
25000092,209163,Bad Poems (2018),Comedy|Drama,6964,4.5,1574284913
25000093,209169,A Girl Thing (2001),(no genres listed),119571,3.0,1574291826
25000094,209171,Women of Devil's Island (1962),Action|Adventure|Drama,119571,3.0,1574291937

In [11]:
data = data.drop(['timestamp'],axis = 1)
data.head()

,movieId,title,genres,userId,rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,2,3.5
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3,4.0
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,4,3.0
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8,4.0